 @import helper._ 
 @main("Login") {
	<div id="login">
		<div class="block center login small">
			<div class="block_head">
				<div class="bheadl"></div>
				<div class="bheadr"></div>
				<h2>Recuperacao de senha</h2>
				<ul>
					<li><a href="/signin" rel="tooltip"
						title="Voce se lembra da sua senha?">Login</a></li>
				</ul>
	
			</div>
			<div class="block_content">
				@helper.form(action = routes.AccountRecovery.submit(), args = 'class
				-> "new_user", 'id -> "new_user"){ <label for="user_login">Email</label>
				<input class="span5" id="user_login" name="user[login]" size="30"
					type="text">
				<div class="form-actions">
					<div class="row">
						<div class="span2" style="width: 85px">
							<input class="btn btn-primary btn-large" name="commit"
								type="submit" value="Envie nova senha">
						</div>
					</div>
				</div>
				}
			</div>
			<div class="bendl"></div>
			<div class="bendr"></div>
		</div>
	</div>
}
