@(userForm: Form[User]) 
@import views.html.helper.FieldConstructor
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }  


@main("Login") {
<div class="container">
        	<div class="row-fluid">
            	<div class="span12">
                    <div class="span6">
                    	<div class="area">                    	
                            @helper.form(routes.SignUp.submit(), 'class -> "form-horizontal"){  
                                <div class="heading">
                                    <h4 class="form-heading">Cadastro</h4>
                                </div>
                                
						            @helper.inputText(
						                userForm("name"), 
						                '_label -> "Nome Completo",
						                '_error -> userForm.globalError
						            )
						            
						            @helper.inputText(
						                userForm("email"), 
						                '_label -> "Email",
						                '_error -> userForm.globalError
						            )

						            @helper.inputPassword(
						                userForm("password"), 
						                '_label -> "Senha",
						                '_error -> userForm.globalError
						            )
						            
						            @helper.inputPassword(
						                userForm("repeatPassword"), 
						                '_label -> "Confirme sua senha",
						                '_error -> userForm.globalError
						            )
    
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox"> Eu aceito os <a href="#">Termos de Serviço</a>
                                        </label>
                                        <button type="submit" class="btn btn-success">Concluir</button>
                                    </div>
                                </div>						            						            
                            }
						</div>                            
                    </div>
                </div>
            	
            </div>
        </div>                    
}